

/* supprimer toutes les */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /*palette de couleur */
  --couleur-claire:#F3F3E0 ;
    --couleur-midclaire: #27548A;
    --couleur-midfonce:#e60e0e ;
    --couleur-fonce:#050300 ;
}


article {
    position: relative;
    top: 15vmin ;
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    padding-left: 30px;
    padding-right: 20px;
}



.texte {
    width : 65%;
   
}

.article-img {
    display: flex;
    width : 30%;
    padding: 30px;
}

/* modification des images*/

#les-vieux{
    width: 20vw;
}

#first{

    width: 20vw;
}

#captain{

     width: 20vw;
}

#fantastiques{

    width: 20vw;
}

#secret-Wars{
    width: 20vw;
}


#ultimate{
    width: 20vw;
}

nav{
    position: fixed;
    height: 15vmin;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: solid var(--couleur-fonce ) 1px;

    width: 100vw;
    background-color: var(--couleur-midfonce);
    z-index: 10;
}

#nav-bar{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 60px;
} 


.nav-button{
    font-size: 1rem;
    text-decoration: none;
    display: block;

    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
    padding: 5px;


    width: 20%;
    margin: 20px;

text-align: center;
border-radius: 5px;
transition: background-color 500ms,color 1000ms,border 1000ms;
}

.nav-button:hover {
    background-color: var(--couleur-claire);
    color: var(--couleur-fonce);
    border:solid var(--couleur-midfonce) 2px;
}




/* personnage */


.card-wrapper{
    position: relative;
    top: 210px;
    display: block;
    margin: 10px;
    width: 15vw;
    height: 35vh;
     aspect-ratio: 2/3;
    background-image : url('./asset/fond-texture-metal-rouge_46250-347.avif') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 0.9vw;
}

.card-inner{
    background-color: #F3F3E0;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-title{
width: 100%;
background-color: black;
color: white;
height: 8%;
padding: 5px;
padding-left: 10px;
}

.card-image{
    width: 100%;
    height: 50%;
    background-image: url('./asset/marvel-verse-iron-man.png');
    background-size: 100%;
    background-position-y: 0%;
    background-position-x: center;

transition: background-size 500ms ease-out;
}
.card-info{
    width: 100;
    height: 42%;
    background-color:black;
    color: wheat;
    overflow: hidden;
}

.slider{
    position: relative;
    top: -95%;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    transition: top 500ms ease-out;
}

.info-texte{
    position: relative;
    margin-top: 5px;
    z-index: 2;
    top: -95%;
    padding: 0.5px;
}


/*Personnnage SpiderMan*/
.card-image.spiderman {
    background-image: url('./asset/texture-SpiderMan.jpg');
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}





/*equipe*/


.equipe-avenger{
    position: relative;
    top: 210px;
    display: block;
    margin: 10px;
    width: 25vw;
    height: 50vh;
     aspect-ratio: 2/3;
    background-image : url('./asset/depositphotos_476984072-stock-photo-abstract-background-multi-colored-texture.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 0.9vw;
}

.card-titre{
    
width: 100%;
background-color: black;
color: white;
height: 8%;
padding: 5px;
padding-left: 10px;
}

.card-img{
    width: 100%;
    height: 90%;
    background-image: url('./asset/avenger.jpg');
    background-size: 100%;
    background-position-y: 0%;
    background-position-x: center;

}



.equipe-X-men{

     position: relative;
    top: 210px;
    display: block;
    margin: 10px;
    width: 25vw;
    height: 50vh;
     aspect-ratio: 2/3;
    background-image : url('./asset/X-men.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 0.9vw;
   
}

.card-X-men{
     width: 90%;
    height: 90%;
    background-image: url('./asset/X-men.jpg');
    background-size: 100%;
    background-position-y: 0%;
    background-position-x: center;

}



.fantastic{

     position: relative;
    top: 210px;
    display: block;
    margin: 10px;
    width: 25vw;
    height: 50vh;
     aspect-ratio: 2/3;
    background-image : url('./asset/Texture-4fantastic.jpeg') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 0.9vw;
}

.card-4-fantastic{

      width: 90%;
    height: 90%;
    background-image: url('./asset/unnamed.jpg');
    background-size: 100%;
    background-position-y: 0%;
    background-position-x: center;


}


.gardien-galaxi{
    position: relative;
    top: 210px;
    display: block;
    margin: 10px;
    width: 25vw;
    height: 50vh;
     aspect-ratio: 2/3;
    background-image : url('./asset/Texture-galaxie.avif') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 0.9vw;

}

.card-gardien-galaxie{

  width: 90%;
    height: 90%;
    background-image: url('./asset/Marvel-Verse-Gardiens-de-la-Galaxie.jpg');
    background-size: 100%;
    background-position-y: 0%;
    background-position-x: center;

}

/* films*/

#ligne{
   padding-top: 210px;
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 40vw;
    }




















/*
.iron-man{
box-shadow: 10px 5px 5px red;
width: 20vw;
}

.spider-man{
    box-shadow: 10px 5px 5px red;
    width: 20vw;
}
div{
    display: flex;
}
    */ 
    