

/* supprimer toutes les */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

article {
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    width : 100%;
}

.texte {
    width : 65%;
   
}

.article-img {
    display: flex;
    width : 30%;
    padding: 10px;
}

/* modification des images*/

#les-vieux{
    width: 20vw;
}

#first{

    width: 20vw;
}

#captain{

     width: 20vw;
}

#fantastiques{

    width: 20vw;
}


